.player {
  display: flex;
  align-items: center;
  background-color: rgb(182, 179, 174);
  width: 300px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;

  span {
    font-size: 24px;
    margin-left: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: 100%;
  }
}

.player-active {
  background-color: orange !important;
}
