p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.start-screen {
  position: relative;
  background-color: #404040;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 100px;
    // height: 500px;
    gap: 68px;
    padding-bottom: 100px;
    > p:nth-child(2) {
      font-size: 40px;
    }
  }
  > img {
    height: 100vh;
    width: auto;
  }
}

.start-label-box {
  position: absolute;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  > img {
    width: 350px;
    height: auto;
    margin-top: 400px;
    &:hover {
      cursor: pointer;
      filter: brightness(1.2);
    }
  }
}
