.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: row;

  &:hover {
    filter: brightness(1.1);
  }
}

// .center-headline {
//   display: flex;
//   justify-content: center;
// }

.profile-picture-wrapper {
  display: flex;
}

mat-button {
  font-size: 40px !important;
}
